* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  background-image: url("../img/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}
.container {
  padding: 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.nav-link {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
img {
  width: 80px;
  height: 30px;
  display: inline-block;
  margin-top: 17%;
  margin-right: 10px;
}
.nav {
  display: inline-block;
  margin-top: 2%;
  height: 33px;
  margin-left: 10px;
}
.nav ul li {
  display: inline-block;
  align-items: center;
  margin-left: 30px;
  column-rule-color: white;
}
.nav ul li {
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease;
}
.nav ul li:hover {
  border-bottom: 2px solid green;
}
.btn {
  display: inline-block;
  padding: 25px 25px;
  border-radius: 50px;
  background-color: green;
  border: none;
  margin-left: 27px;
  font-weight: bold;
}
.btn a {
  display: inline-block;
  color: black;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header h1 {
  font-size: 48px;
  display: inline-block;
  margin-left: 25%;
  padding-bottom: 8%;
}
.section1 {
  text-align: center;
  margin-top: 27%;
  font-size: 18px;
}
.section2 {
  margin: 30px 20px;
}
.container1 {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.project1 {
  background-image: url(../img/pnj1.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
}
.project1 h3 {
  padding-left: 33%;
}
.project2 {
  background-image: url(../img/pnj2.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
}
.project2 h3 {
  padding-left: 29%;
}
.project3 {
  background-image: url(../img/pnj3.png);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
}
.project3 h3 {
  padding-left: 43%;
}
.project1 h3,
.project2 h3,
.project3 h3 {
  color: black;
  font-size: 16px;
  padding-top: 75%;
}
.project1,
.project2,
.project3 {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  transition: transform 0.3s ease;
}
.project1:hover,
.project2:hover,
.project3:hover {
  transform: scale(2);
}
.section3 {
  text-align: center;
  margin: auto;
  position: relative;
  padding-bottom: 30%;
  padding-top: 10%;
}
.animated1 {
  display: inline-block;
  position: absolute;
  animation-name: animated1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animated2 {
  display: inline-block;
  position: absolute;
  margin-top: 12%;
  animation-name: animated2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.animated1 img,
.animated2 img {
  width: 150px;
  height: 120px;
}
@keyframes animated1 {
  0% {
    left: 0%;
  }
  100% {
    left: 80%;
  }
}
@keyframes animated2 {
  0% {
    right: 0%;
  }
  100% {
    right: 80%;
  }
}
